﻿@model PetProject.Models.NoSqlEntities.LoginData

@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="panel panel-primary">
        <div class="panel-heading">Enter password</div>
        <div class="panel-body">
            <p><label>Login:</label><br>
            <input name="username" class="form-control" /></p>
            <p><label>Password:</label><br>
            <input name="password" type="password" class="form-control" /></p>
            <input type="submit" value="Log in" class="btn btn-primary col-md-3" style="margin-top: 15px" />
        </div>
    </div>
}




