﻿@model PetProject.Models.Entities.Pet

<div class="usermodalwindow">
    <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel" style="color: red;">
            Deleting the pet
        </h3>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.PetId)
        @Html.HiddenFor(model => model.Name)
        @Html.HiddenFor(model => model.OwnerId)
        @Html.HiddenFor(model => model.ImagePath)
        @Html.HiddenFor(model => model.PriceExhibition)

        <div class="modal-body">
            <fieldset>
                <div class="display-label">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </fieldset>
        </div>

        <div class="modal-footer">
            <a href="/Detail/Index?oid=@Model.OwnerId" class="btn btn-default">
                Cancel
            </a>
            <input type="submit" class="btn btn-danger" value="Delete" />
        </div>
    }
    </div>

