﻿@model PetProject.Models.Entities.Pet

<link rel="stylesheet" type="text/css" href="~/Content/CustomFileInput.css" />
<script src="~/Scripts/ModalNotification/ValidationMessages.js" type="text/javascript"></script>
<script src="~/Scripts/ModalNotification/PetValidation.js" type="text/javascript"></script>
<script src="~/Scripts/ModalNotification/UplaodImageValidation.js" type="text/javascript"></script>

<div class="usermodalwindow">
    <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel" style="color: green;">
            Editing the pet
        </h3>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="modal-body">
            <fieldset>
                <label>Имя:</label>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>

                <label>Фото:</label>
                <div class="editor-field">
                    <ul class="list-inline">
                        <li>
                            <span class="btn btn-info fileinput-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>Upload</span>
                                <input type="file" max-size="65535" name="ImagePath" class="form-control" />
                            </span>
                        </li>
                        <li><label id="fileNameErrorMessage" class="error"></label></li>
                    </ul>
                </div>

                @Html.HiddenFor(model => model.PetId)
                @Html.HiddenFor(model => model.OwnerId)
                @Html.HiddenFor(model => model.PriceExhibition)
                @Html.HiddenFor(model => model.LastEditedBy)
                @Html.HiddenFor(model => model.LastEditedAt)
            </fieldset>
        </div>

        <div class="modal-footer">
            <a href="/Detail/Index?oid=@Model.OwnerId" class="btn btn-default">
                Close
            </a>
            <input type="submit" class="btn btn-success" value="Save" />
        </div>
    }
</div>
