﻿@model IEnumerable<PetProject.Models.Entities.Pet> 

@{
    ViewBag.Title = ViewBag.OwnerName + "`s pets";
}

<div class="visible-xs">
    @Html.Action("Summary", "Cart", new { small = true })
</div>
<div class="hidden-xs">
    @Html.Action("Summary", "Cart", new { small = false })
</div>

<h1>@ViewBag.OwnerName<span>`s pets</span></h1>

<p style="margin: 0 0 10px">
    <a href="/Home/Index">Back to All Users</a>
</p>

<div class="row panel">
    <div id="ownerMenu" class="hidden-xs col-sm-3">
        @Html.Action("OwnerMenu", "Nav")
    </div>
    <div class="col-xs-12 col-sm-9">
        <p style="margin: 0 0 10px">
            <button data-toggle="modal" data-target="#myModal" href="/Detail/Create?oid=@ViewBag.OwnerId" class="btn btn-success" title="Add">Add</button>
        </p>

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ImagePath)
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(p => item.Name)
                        </td>
                        <td>
                            <img class="img-responsive" src="@item.ImagePath" runat="server" alt="" />
                        </td>
                        <td>
                            <button data-toggle="modal" data-target="#myModal" href="/Detail/Edit?pid=@item.PetId"
                                    class="btn btn-primary glyphicon glyphicon-pencil" title="Edit"></button>
                            <button data-toggle="modal" data-target="#myModal" href="/Detail/Delete?pid=@item.PetId"
                                    class="btn btn-primary glyphicon glyphicon-trash" title="Delete"></button>
                            <button data-toggle="modal" data-target="#myModal"  href="/Detail/PetSummary?pid=@item.PetId&returnUrl=@Request.Url.PathAndQuery"
                                    class="btn btn-primary glyphicon glyphicon-shopping-cart" title="Cart"></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

    <!-- Modal-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>

