﻿@model PetProject.Models.Entities.Pet

<div class="usermodalwindow">
    <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel" style="color: green;">
            Adding the Pet to Favorites
        </h3>
    </div>

    @using (Html.BeginForm("AddToCart", "Cart"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div class="modal-body">
            <fieldset>
                <div class="display-label">
                    @Html.DisplayFor(model => model.Name)
                </div>

                @Html.HiddenFor(model => model.PetId)
                @Html.Hidden("returnUrl", (string)ViewBag.ReturnUrl)
            </fieldset>
        </div>

        <div class="modal-footer">
            <a href="/Detail/Index?oid=@Model.OwnerId" class="btn btn-default">
                Close
            </a>
            <input type="submit" class="btn btn-success" value="Add" />
        </div>
    }
</div>

