﻿@model PetProject.Models.Entities.Owner

<link rel="stylesheet" type="text/css" href="~/Content/CustomFileInput.css" />
<script src="~/Scripts/ModalNotification/ValidationMessages.js" type="text/javascript"></script>
<script src="~/Scripts/ModalNotification/OwnerValidation.js" type="text/javascript"></script>

<div class="usermodalwindow">
    <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel" style="color: green;">
            Create an owner
        </h3>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)



        <div class="modal-body">
            <fieldset>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>

                @Html.HiddenFor(model => model.OwnerId)
                @Html.HiddenFor(model => model.LastEditedBy)
                @Html.HiddenFor(model => model.LastEditedAt)
            </fieldset>
        </div>

        <div class="modal-footer">
            <a href="/Home/Index" class="btn btn-default">
                Cancel
            </a>
            <input type="submit" class="btn btn-success" value="Save" />
        </div>
    }
</div>>
