﻿@model PetProject.Models.Entities.Owner

<style>
    .display-label {
        font-weight: bold;
    }
</style>

<div class="usermodalwindow">
    <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel" style="color: red;">
            Deleting the owner
        </h3>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.OwnerId)
        @Html.HiddenFor(model => model.Name)

        <div class="modal-body">
            <fieldset>
                <div class="display-label">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </fieldset>
        </div>

        <div class="modal-footer">
            <a href="/Home/Index" class="btn btn-default">
                Cancel
            </a>
            <input type="submit" class="btn btn-danger" value="Delete" />
        </div>
    }
    </div>
