﻿@using PetProject.Models.NoSqlEntities
@model OwnerListViewModel

@using PetProject.HtmlHelpers

@{
    ViewBag.Title = "All Users";
}

<div class="visible-xs">
    @Html.Action("Summary", "Cart", new { small = true })
</div>
<div class="hidden-xs">
    @Html.Action("Summary", "Cart", new { small = false })
</div>

    <h1>All Users</h1>

    <p style="margin: 0 0 10px">
        <button data-toggle="modal" data-target="#myModal" href="/Home/Create" class="btn btn-success" title="Add">Add</button>
    </p>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Owners.FirstOrDefault().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Owners.FirstOrDefault().Count)
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Owners)
            {
                <tr>
                    <td>
                        <a href="/Detail/Index?oid=@item.OwnerId">@Html.DisplayFor(p => item.Name)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(p => item.Count)
                    </td>
                    <td>
                        <button data-toggle="modal" data-target="#myModal" href="/Home/Edit?oid=@item.OwnerId"
                                class="btn btn-primary glyphicon glyphicon-pencil" title="Edit"></button>
                        <button data-toggle="modal" data-target="#myModal" href="/Home/Delete?oid=@item.OwnerId"
                                class="btn btn-primary glyphicon glyphicon-trash" title="Delete"></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
    </div>

    <!-- Modal-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>

