﻿@{
    ViewBag.Title = "Route error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="editors" class="section panel panel-primary">
  <div class="panel-heading">Route error</div>
  <div class="panel-body">
      <h2>Page not found (404).</h2>
  </div>
</div>

