﻿@model PetProject.Models.NoSqlEntities.ShippingDetails

@{
    ViewBag.Title = "Checkout";
}

@section Scripts {
    <script type="text/javascript">
        setTimeout(function () {
            $('.ui-datepicker-trigger').addClass("btn btn-primary");
        }, 100);
    </script>
    }

<link rel="stylesheet" type="text/css" href="~/Content/themes/base/jquery.ui.all.css" />
<script src="~/Scripts/DatePickers/DatepickerForDateTime.js"></script>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <div class="panel panel-primary">
            <div class="panel-heading">Sending invitations to the exhibition</div>
            <div class="panel-body">
                @foreach (var property in ViewData.ModelMetadata.Properties)
                {
                    if (property.PropertyName != "BeginsAt")
                    {
                        <div class="form-group">
                            <label>@(property.DisplayName ?? property.PropertyName)</label>
                            @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                        </div>
                    }
                }
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.BeginsAt, "MM/dd/yyyy HH:mm", new { @class = "form-control", @id = "begining", @autocomplete = "off", @style = "float: left; width: 50%;" })
                </div>
                <div style="clear: both; height: 1px;">
                </div> 

                <div class="text-center">
                    <input class="btn btn-primary" type="submit" value="Invite to the exhibition" />
                </div>
            </div>
        </div>
    }



