﻿
@{
    ViewBag.Title = "Complete";
}

<p style="margin: 0 0 10px">
    <a href="/Home/Index">Back to All Users</a>
</p>

<div id="editors" class="section panel panel-primary">
    <div class="panel-heading">Success</div>
    <div class="panel-body">
        <h2>Invitations sent successfully.</h2>
    </div>
</div>
