﻿@model PetProject.Models.NoSqlEntities.CartIndexViewModel

@{
    ViewBag.Title = "Featured";
}

<h2>Featured</h2>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Pet</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-left">@line.Pet.Name</td>
                <td>
                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                {
                        @Html.Hidden("PetId", line.Pet.PetId)
                        @Html.HiddenFor(x => x.returnUrl)
                        <button class="btn btn-primary glyphicon glyphicon-trash" type="submit" title="Delete" />
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right"><span class="hidden-xs">Total invitees :</span></td>
            <td class="text-right hidden-xs">@Model.Cart.ComputeTotalQuantity()</td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary col-xs-11 col-sm-6" href="@Model.returnUrl">Return to view</a>
    @Html.ActionLink("Send invitations to the exhibition", "Checkout", null, new { @class = "btn btn-success col-xs-11  col-sm-6" })
</div>
<br clear="left"/>

