﻿@model PetProject.Models.NoSqlEntities.Cart

@{ 
    bool needsmall = (bool)(ViewContext.RouteData.Values["small"] ?? false);
    string textForCartButton =  needsmall ? "View Cart" : "View";
    string classForInfoLabel = needsmall ? "navbar-text navbar-right hidden-xs" : "navbar-text navbar-right";
}

<div class="navbar-right">
    @Html.ActionLink(textForCartButton, "Index", "Cart",
    new { returnUrl = Request.Url.PathAndQuery },
    new { @class = "btn btn-default navbar-btn" })
</div>

<div class="@classForInfoLabel">
    <b>Featured:</b>
    @Model.Lines.Sum(x => x.Quantity)
</div>


