﻿<div class="usermodalwindow">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">
            @ViewBag.Header
        </h4>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-md-2">
                <img class="img-responsive" src="~/Images/@(ViewBag.Error?"error":"info").png" />
            </div>
            <div class="col-md-10">
                <h3 class="text-left">@ViewBag.Message</h3>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
            &emsp;OK&emsp;
        </button>
    </div>
</div>
