﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/NotifyManager")
    @RenderSection("scripts", required: false)
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
    <div class="container panel-heading hidden-xs">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/Home/Index" title="Let's go home.">
                            <span class="glyphicon glyphicon-home"></span>
                        </a>
                    </li>
                    <li>
                        <a href="/Slider/Index">History of existing pets</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-phone"></span>@ViewBag.CurrUser <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Account/Logout">Log out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        @if (TempData["message"] != null)
        {
            <div class="alert alert-warning alert-dismissible" role="alert" style="margin: 0 0 10px 0;">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                @TempData["message"]
            </div>
        }
    </div>
    <div class="visible-xs">
        <a href="/Home/Index">Home</a>
        ...
        <a href="/Slider/Index">Pet slider</a>
        ...
        <a href="/Account/Logout"><span class="glyphicon glyphicon-phone"></span>Log out</a>
        <div>
            <span style="background-color: antiquewhite; border-width: 1px;">@TempData["message"]</span>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <!-- Modal for notifications-->
        <div class="modal" id="myModalNotification" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="margin-top: 15%;">
                <div class="modal-content">
                </div>
            </div>
        </div>

        <hr />
        <footer>
            <p class="hidden-xs">&copy; Pet Project – example using ASP .NET MVC + <a href="~/CallWebForm.aspx">WebForms</a> + Web API + WCF (proxy) + Knockout.js + SQLite (Entity, Code First).</p>
            <p class="visible-xs">&copy; Pet Project.</p>
        </footer>
    </div>
</body>
</html>
