﻿body {
    padding-bottom: 20px;
}

body h1 {
    color:darkgray;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors, label.error {
    font-weight: bold;
    color: #f00;
    font-style: italic;
}

.validation-summary-valid {
    display: none;
}

@font-face {
    font-family: 'digital-7';
    src: url('../fonts/digital-7.ttf');
}

/* User view of modal window */

div.usermodalwindow {
    background: #fff; 
    margin: 75px;
}
