﻿@using PetProject.Models.NoSqlEntities
@model IEnumerable<PetStatView>

@{
    ViewBag.Title = "History of existing pets";
}

@section Styles {
<style>
    .hider {
        visibility: collapse;
    }
</style>
    }

@section Scripts {
<script type="text/javascript">
    $(document).ready(function () {
        getAllItems();
        ko.applyBindings(model);

        $('#OwnerId').change(function () {
            var selectedText = $('#OwnerId option:selected').text();
            $('tr.well').addClass("hider");
            $('tr.well:contains(' + 'Owner`s name: ' + selectedText + ')').removeClass("hider");
        });
    });

    var model = {
        listPetStat: ko.observableArray()
    };

    function sendAjaxRequest(httpMethod, callback, url = "/api/AjaxSlider/") {
        $.ajax(url, {
            type: httpMethod,
            success: callback
        });
    };

    function getAllItems() {
        sendAjaxRequest("GET", function (data) {
            model.listPetStat.removeAll();
            for (var i = 0; i < data.length; i++) {
                model.listPetStat.push(data[i]);
            }
        });
    }
</script>

}

@Html.DropDownList("OwnerId", new SelectList(ViewBag.listOwner, "OwnerId", "Name"), new { @class = "form-control" })

<div style="margin: 20px 20px 0 20px;">
    <table class="table table-striped table-bordered table-hover" data-bind="foreach: model.listPetStat">
        <tr class="well">
            <td>
                <img data-bind="attr:{src: ImagePath}" style="margin-left: 10px; margin-right: 10px;" />
                <p class="pull-left label label-primary">
                    <span>Pet`s name: <span data-bind="text: PetName" /></span>
                    <br />
                    <span>Pet was last edited by: <span data-bind="text: PetLastEditedBy" /></span>
                    <br />
                    <span>Pet was last edited at (UTC): <span data-bind="text: PetLastEditedAt" /></span>
                    <br />
                    <br />
                    <span class="filterparam">Owner`s name: <span data-bind="text: OwnerName" /></span>
                    <br />
                    <span>Owner was last edited by: <span data-bind="text: OwnerLastEditedBy" /></span>
                    <br />
                    <span>Owner was last edited at (UTC): <span data-bind="text: OwnerLastEditedAt" /></span>
                </p>
            </td>
        </tr>
    </table>
</div>


